
.hexagon{
    margin: auto;
    width: 100px;
    height: 60px;
    position: relative;
    background-image: url("../assets/img/about.png");
    background-position: center center;
    z-index: 1;
}
.hexagon .face1,
.hexagon .face2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: inherit;
  z-index: -1;
  /* Keeps borders smooth in webkit */
  backface-visibility: hidden;
}
.hexagon .face1:before,
.hexagon .face2:before {
  content: '';
  position: absolute;
  width: 116%;
  height: 200%;
  // width: 220px;
  // height: 220px;
  background: inherit;
}