.section{
}

.gallery{
    background-color: orangered;
}
.generator{
    background-color:lightgreen;
    display: none; 
}

.about{
    background-color:yellow;
}
.formGetInTouch{
    background-color: grey;
}