.section{
    max-width: 1020px;
    margin: auto;
    padding-bottom: em(10px);
    padding-left: em(45px);
    padding-right: em(100px);//TODO:ask guy what is it for
}
.gallery{
    display: block;         
}
.generator{
    background-color:white;
    display: none; 
    height: em(720px);
    height: em(720px);
}
.gen-container{
    display: flex;
    justify-content: space-between; 
}
.canvas-container{
    flex-shrink: 3;

}
.edit-container{
    display: flex;
    padding-left: 8px;
}
.edit-inner-container{
}
.about{
    background-color: #2eb398;
    height: 340px; //should be max-height
    flex-wrap: wrap;
}
.article{
    font-family: "Maven Pro Regular";
    font-weight: 400;
    max-height: 340px;
    flex-flow: column;
    padding: 0 em(20px);
}
.article-0title{
    margin-top: em(29px);
    // max-height: rem(22px);
    color: #d7fcf5;
    font-size: rem(30px);
    line-height: rem(5px);
}
.article-1title{
    margin-top: em(13px);    
    // max-width: 249px;
    max-height: rem(17px);
    color: #20816d;
    font-size: rem(18px);
    line-height: rem(22px);
}
.article-text{
    margin-top: em(20px);        
    max-width: 581px;
    max-height: rem(76px);
    color: #d7fcf5;
    font-family: Lato;
    font-size: rem(12px);
    line-height: rem(22px);
}
.article-img{
    width: 180px;
    height: 206px;
}

.form-get-in-touch{
    background-color: #323232;
    height: em(564px);

}
.main-footer{
    height: em(43px);
    background-color: #222;
}

.bigger-text{
    font-size: 20px;
}

.search-container{
    height: 20px;
}